.hero__section {
  background: var(--hero-bg);
}

.hero__content {
  padding-top: 45px;
}

.hero__content h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero__content p {
  color: var(--primary-color);
  line-height: 28px;
}

.hero__content p:nth-child(1) {
  font-weight: 500;
}

.timer__count {
  background: var(--primary-color);
  height: 300px;
}

.timer__count img {
  width: 70% !important;
  height: 70% !important;
  object-fit: cover;
  top: -10%;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 2rem;
  }

  .timer__top-content {
    text-align: center;
  }

  .timer__top-content h4 {
    font-size: 0.9rem !important;
  }

  .timer__top-content h3 {
    font-size: 1rem !important;
  }

  .counter__img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.6rem;
  }

  .hero__content p {
    font-size: 0.9rem;
  }

  .buy__btn,
  .store__btn {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 40px;
  }
}
