.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  top: 0;
  z-index: 2000;
  box-shadow: 3px 3px 8px -3px #ddd;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  top: 0;
  clip-path: none;
  display: block;
}
.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.7rem;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.nav__item a {
  font-weight: 500;
  color: var(--primary-color);
}

.nav__icons {
  display: flex;
  -moz-column-gap: 1.2rem;
  column-gap: 1.2rem;
}

.nav__icons .profile {
  position: relative;
  z-index: 9;
}

.nav__icons .profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav__icons .profile .profile__actions {
  position: absolute;
  width: 150px;
  top: 91%;
  right: 0;
  z-index: 10;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  line-height: 30px;
  border-radius: 10px;
}

.fav__icon,
.cart__icon,
.nav__icons .profile img,
.mobile__menu {
  cursor: pointer;
}

.nav__icons span svg,
.mobile__menu {
  font-size: 30px;
  fill: var(--primary-color);
}

.fav__icon,
.cart__icon {
  position: relative;
}

.badge {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  right: -20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 800;
  z-index: 10;
  color: #fff;
  background-color: var(--primary-color);
}

.mobile__menu {
  display: none;
  order: 1;
}

.nav__active {
  font-weight: 700 !important;
}

.profile__actions span {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .navigation {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background-color: #fff;
    display: none;
  }

  .menu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart__icon svg {
    width: 24px;
  }

  .badge {
    top: 15%;
    right: -20%;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    font-size: 0.5rem;
  }

  .nav__icons span img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .mobile__menu {
    display: block;
    position: relative;
    z-index: 2000;
  }

  .mobile__menu span i {
    font-size: 1.1rem !important;
  }
}
